<div class="well login-form wow fadeIn" data-wow-duration="3s" data-wow-delay="0.2s">
<h2 align="center"> Log in</h2>

<%= form_for(:session, :html => { class: "form-horizontal", role: "form"}, url: login_path) do  |f|%>

<div class="form-group">
<div class="col-sm-offset-1 control-label col-sm-1">

</div>
<div class="col-sm-8">
<%= f.email_field :email, rows: 10, class: "form-control input-lg", placeholder: "Enter email" %>
</div>
</div>


<div class="form-group">
<div class="col-sm-offset-1 control-label col-sm-1">

</div>
<div class="col-sm-8">
<%= f.password_field :password, rows: 10, class: "form-control input-lg", placeholder: "Enter a password" %>
</div>
</div>


<div class="form-group">
<div align="center">
  <%= f.submit "Log in", class: "btn btn-default btn-lg" %>

<%= link_to " Cancel ", root_path , class: "btn btn-default btn-lg"%>
</div>
</div>

<% end %>

</div>
